*{
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
    font-family: unset;
}
body{
    background-color: rgb(56, 55, 55);
}
ul{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#navbar{
    display: flex;
    text-align: center;
    background-color: rgb(69, 34, 83);
    padding: 5px 14px;
    font-size: 17px;
}
#navbar li{
    list-style: none;
}
#navbar li a {
    color: rgb(199, 199, 199);
    text-decoration: none;
    padding: 10px 20px;
}
li#stuff{
     justify-self: right;
     float: right;
    margin-left: 330px; 
}
#input{
    height: 30px;
    padding: 17px 15px;
    border-radius: 5px;
    border: 4px solid rgb(255, 255, 255);
    margin-right: 10px;
    font-size: 17px;
}
.btn{
    background-color: rgb(255, 187, 0);
    padding: 10px 15px;
    margin: 0px 5px;
    border-radius: 5px;
    border:2px solid rgb(255, 187, 0);
    color: rgb(22, 22, 22);
    font-size: 17px;
}
.btn:hover{
    background-color: rgb(253, 221, 79);
    border:2px solid rgb(253, 221, 79);
}
#navbar li a:hover{
    color: rgb(2, 2, 2);
    text-decoration: none;
    padding: 10px 20px;
}
#footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    font-size: 19px;
    height: 250px;
    border: 2px solid rgb(255, 255, 255);
    margin: auto;
    background-color: rgb(255, 255, 255);
}
.link{
    text-decoration: none;
    color: rgb(29, 104, 216);
}
.link:hover{
    text-decoration: underline;
    color: rgb(29, 104, 216);
}
.link:active, .link:visited{
    color: rgb(153, 11, 172);
}
#last{
    padding-top: 30px;
}

.container{
    margin: 30px auto;
    background-color: rgb(255, 255, 255);
    width: 70%;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(126, 126, 126);
}
.form-head{
    font-size: 50px;
    font-family: fantasy;
    margin: 20px auto;
    margin-top: 50px;
    text-align: center;
    color: rgb(41, 39, 39);
}
form.contact{
    display: flex;
    flex-flow: column wrap;
    width:90%;
    justify-content: center;
    margin: 20px auto;
}
.form{
    font-size: 17px;
    outline: none;
    width: 100%;
    margin: 10px auto;
    padding: 10px 10px;
    border: none;
    border-radius: 7px;
    background-color: rgb(241, 240, 240);
}
.form:active{
    border: none;
}
.submit{
    padding: 15px 10px;
    width: 75%;
    margin: 20px auto;
    border-radius:7px;
    border: 2px solid rgb(255, 187, 0);
    background-color: white;
    color: rgb(255, 187, 0);
    font-size: 19px;
}
.submit:hover{
    background-color: rgb(255, 187, 0);
    color: black;
}
